/*
*
* This file will eventually be dynamically generated as my backend calls the colormind.io API.
* For now, this file exists as a placeholder for the results of the 3rd-party API call.
*/

:root {
	--primaryColor: #191919;
	--mainAccentColor: #07706b;
	--secondayrAccentColor: #2edf14;
	--defaultText: #bcd3a6;
}
