/* Global defaults */
:root {
	background-color: var(--primaryColor);
	--cornerSize: 5px;
}

/* Element-based styles */
header {
	position: sticky;
	top: 0;
	right: 0;
	width: 100%;
}

header nav {
	color: var(--primaryColor);
	background-color: var(--mainAccentColor);
	display: flex;
	flex-direction: row;
	justify-content: right;
	align-content: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	height: 100%;
}

footer {
	color: var(--primaryColor);
	background-color: var(--mainAccentColor);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	height: fit-content;
	position: sticky;
	bottom: 0;
	right: 0;
	width: 100%;
}

* > footer {
	padding: 5px;
}

nav {
	height: max-content;
	text-align: center;
}

label {
	color: var(--mainAccentColor);
}

/* Class-based styles */
.navLink {
	border: 3px solid var(--secondayrAccentColor);
	margin: 10px;
	padding: 5px;
	border-radius: var(--cornerSize);
}

.navLink :any-link {
	text-decoration: none;
	color: inherit;
}

.imgLink {
}

.infoText {
	font-size: 8pt;
}

.sourceLink {
	background-color: #29903b;
	color: #ffffff;
	text-decoration: none;
	padding: 5px;
	border-radius: var(--cornerSize);
	margin-inline-start: 5px;
}

.textInput {
	background: var(--primaryColor);
	color: var(--mainAccentColor);
}

.toggleInput {
}

.confrimInput {
}

.rankInput {
}

.buttonInput,
.imitationButton {
	background: var(--secondayrAccentColor);
	color: var(--mainAccentColor);
}

.imitationButton {
}

.sectionTitle {
}

.instructionText {
}

.pollOption {
}

.pollWinner {
}

.pollResults {
}

.formBypass {
	background-color: #ff0000aa;
	border: 3px solid red;
	position: fixed;
	top: 50%;
	left: 0px;
	color: #ffffff;
	padding: 3px;
}

.formBypass :any-link {
	color: inherit;
}
